*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{

}

header{
    background-color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
}

a{
    text-decoration: none;
    color: black;
}

button, select{
    padding: 0.25rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

#inicio{
    height: 100vh;
    background-image: url(../imagens/fundo-inicio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#sobre{
    height: 100vh;
}